* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
    "メイリオ", "Meiryo", sans-serif;
}

@font-face {
  font-family: "Futura";
  src: url(../fonts/Futura-Dem.ttf) format("truetype");
}

html {
  font-size: 100px;
}

body {
  width: 100%;
  font-size: 0.17rem;
}

p {
  color: #111111;
  font-size: 0.17rem;
  line-height: 2.35;
}

/* ヘッダー */
nav {
  position: fixed;
  margin-left: auto;
  z-index: 2;
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 0.3rem;
  padding-top: 0.2rem;
}

.link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-family: "Futura";
  font-size: 0.25rem;
  letter-spacing: 0.1em;
  color: #111111;
  margin: 15px;
  margin-right: 20px;
}

.link::after {
  position: absolute;
  bottom: -6px;
  left: 0;
  content: "";
  width: 100%;
  height: 3px;
  background: #111111;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

.link:hover::after {
  transform: scale(1, 1);
}

.first-view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-top: 0.2rem;
}

#gradient-canvas {
  width: 72%;
  height: 75vh;
  z-index: -1;
  position: absolute;
  --gradient-color-1: #c3e4ff;
  --gradient-color-2: #6ec3f4;
  --gradient-color-3: #eae2ff;
  --gradient-color-4: #b9beff;
}

h1 {
  font-family: "Futura";
  font-size: 0.6rem;
  color: #111111;
  letter-spacing: 0.12rem;
  line-height: 1.33;
}

.title-text {
  font-family: "Futura";
  font-size: 0.6rem;
  color: #111111;
  letter-spacing: 0.12rem;
  line-height: 1.33;
}

/* body */
.wrapper {
  width: 100%;
}

.contents-wrapper {
  width: 1200px;
  margin: auto;
  padding-top: 0.75rem;
}

/* Works */
#works {
  height: 100vh;
}

h2 {
  display: inline-block;
  font-family: "Futura";
  font-size: 0.7rem;
  color: #111111;
  line-height: 1;
  letter-spacing: 0.075rem;
  border-bottom: solid #111111 5px;
}

.list-works li {
  list-style: none;
  width: 560px;
  height: 330px;
  background: lightblue;
  -webkit-box-shadow: 11px 13px 27px 6px rgb(0 0 0 / 8%);
  box-shadow: 11px 13px 27px 6px rgb(0 0 0 / 8%);
  overflow: hidden;
  margin: 1rem;
}

.list-works .work-shibuya::before {
  content: "";
  /* background: url(../images/ai_brown.svg) no-repeat; */
  position: absolute;
  left: 0;

  background-size: 100%;
  width: 301px;
  height: 100%;
}

.white-box {
  position: relative;
  height: 100%;
  padding-left: 280px;
  z-index: 50;
}
.tag-text {
  font-size: 0.14rem;
}

.overview-text {
  font-size: 0.15rem;
}
