* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
    "メイリオ", "Meiryo", sans-serif;
}

@font-face {
  font-family: "Futura";
  src: url(../fonts/Futura-Dem.ttf) format("truetype");
}

html {
  font-size: 100px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-size: 0.17rem;
}

p {
  color: #1d1d1b;
  font-size: 0.17rem;
  line-height: 2.35;
}

/* ファーストビュー */
.main-visual {
  width: 100%;
  height: 100vh;
  background: #fff url(../images/firstview.svg) 0 0 no-repeat;
  background-size: cover;
  position: relative;
  max-width: 100%;
}

nav {
  position: fixed;
  margin-left: auto;
  z-index: 2;
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 0.3rem;
  padding-top: 0.2rem;
}

.link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-family: "Futura";
  font-size: 0.25rem;
  letter-spacing: 0.1em;
  color: #fff;
  margin: 15px;
  margin-right: 20px;
}

.link::after {
  position: absolute;
  bottom: -6px;
  left: 0;
  content: "";
  width: 100%;
  height: 3px;
  background: #fff;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

.link:hover::after {
  transform: scale(1, 1);
}

.color-change {
  color: #804036;
}

.color-change::after {
  background: #804036;
}

h1 {
  font-family: "Futura";
  color: #fff;
  font-size: 0.85rem;
  letter-spacing: 0.185em;
  line-height: 90px;
  padding-left: 8.5vw;
  padding-top: 15vh;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4);
}

.overview-text {
  font-size: 0.14rem;
  line-height: 2.143;
  color: #ffe1bb;
}

.overview {
  margin-left: 8.5vw;
  position: absolute;
  background: #804036;
  border-radius: 20px;
  width: 28vw;
  padding: 40px 55px;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.3);
  bottom: 3%;
}

.overview-sp {
  display: none;
}

.icon {
  margin-top: 15px;
}

.icon img {
  margin-right: 10px;
}

/* body */
.wrapper {
  background: #fff url(../images/background.svg) center 0 no-repeat;
  background-size: cover;
}

.contents-wrapper {
  width: 950px;
  margin: auto;
}

/* ゴール */
section {
  padding-top: 1.5rem;
}

#goal {
  padding-top: 1.7rem;
}

h2 {
  position: relative;
  color: #f45a21;
  font-weight: bold;
  font-size: 0.45rem;
  margin-bottom: 0.7rem;
  margin-left: 0.5rem;
}

h2:before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 0.25rem;
  height: 0.45rem;
  background: url(../images/caption.svg) 0 0 no-repeat;
  left: -0.5rem;
  top: 0.13rem;
}

.goal {
  font-weight: bold;
  font-size: 0.28rem;
  text-align: center;
}

/* ヒアリング */

.fun {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.3rem;
}

.funimg {
  max-width: 50%;
  height: auto;
}

.fun p {
  font-weight: bold;
  font-size: 0.28rem;
  margin: 0 4%;
}

.fun-text {
  font-size: 0.35rem;
  text-align: center;
  font-weight: bold;
  background-image: url(../images/asobi_1.svg);
  background-position: 32% 70%;
  background-repeat: no-repeat;
  max-width: 100%;
  padding: 0.4rem 0 0.3rem;
}

.love-text {
  font-weight: bold;
  font-size: 0.2rem;
  text-align: center;
  position: relative;
  z-index: 5;
}

.fun-heart {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  height: 4rem;
}

.purpose {
  font-weight: bold;
  text-align: center;
  font-size: 0.2rem;
  margin-top: 1rem;
}

.purpose-text {
  font-weight: bold;
  text-align: center;
  font-size: 0.35rem;
  margin-top: 0.35rem;
}

/* コンセプト */
.con-text1 {
  font-weight: bold;
  font-size: 0.3rem;
  margin-bottom: 0.5rem;
}

.con-text2 {
  font-size: 0.2rem;
  text-align: center;
  margin-top: 0.2rem;
}

.con-text3 {
  font-weight: bold;
  font-size: 0.28rem;
  text-align: center;
  margin-top: 0.5rem;
}

.con-text4 {
  font-weight: bold;
  font-size: 0.35rem;
  text-align: center;
}

#concept ul {
  display: flex;
  justify-content: center;
}

.sibuya-photo {
  list-style: none;
  padding: 0.2rem;
}

.sibuya-photo img {
  width: 3.4rem;
}

.tpos {
  display: flex;
  justify-content: center;
}

.triangle {
  background-color: #804036;
  width: 0.7rem;
  height: 0.3rem;
  clip-path: polygon(0 0, 100% 0%, 50% 100%);
  margin: 0.4rem 0 0.3rem;
}

/* 調査 */
/* #research {
  background: #fff6eb url(../images/bg-ex.svg) 0 0 no-repeat;
  padding-bottom: 1.8rem;
} */

.brown-text {
  color: #804036;
}

.research-box {
  background-color: #fff;
  padding: 0.8rem;
  margin-top: 0.8rem;
  border-radius: 0.4rem;
}

.discover-text {
  font-weight: bold;
  text-align: center;
  font-size: 0.3rem;
}

.world-map img {
  width: 5rem;
}

.world-map p {
  padding-left: 0.3rem;
}

.world-map {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.enmbassy-text {
  margin-top: 0.2rem;
}

.next {
  display: flex;
  justify-content: center;
  align-items: center;
}

.next .triangle {
  margin-left: 3rem;
}

.next p {
  margin-left: 0.5rem;
  font-size: 0.2rem;
}

.world-photos {
  display: flex;
}

.world-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.2rem;
}

.world-photo img {
  width: 2.56rem;
  max-width: 100%;
}

.world-photo p {
  text-align: center;
  margin: 0.2rem 0;
}

.darkbrown {
  color: #540b0e;
}

.wrap-text {
  font-size: 0.18rem;
  font-weight: bold;
  margin-top: 0.3rem;
  text-align: center;
}

/* アイディア出し */
.idea-image {
  background-color: #fff;
  border-radius: 0.4rem;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.idea-image img {
  width: 8.5rem;
  max-width: 100%;
  padding: 0.2rem 0;
}

/* 表現方法 */
#expression p {
  color: #804036;
}

.bg-text {
  margin: 0.3rem 0 0.6rem;
}

.caption-text {
  font-weight: bold;
  font-size: 0.3rem;
  text-align: center;
  margin: 0.2rem 0;
}

.colors-box {
  background-color: #fff;
  border-radius: 0.3rem;
  width: 80%;
  margin: 0.4rem auto 0.5rem;
  display: flex;
  justify-content: center;
  padding: 0.45rem 0 0.3rem;
}

.color {
  width: 0.9rem;
  height: 0.9rem;
}

.brown {
  background-color: #804036;
}

.orange {
  background-color: #f45a21;
}

.yellow {
  background-color: #fbb13c;
}

.cream {
  background-color: #ffe1bb;
}

.green {
  background-color: #588157;
}

.colorcode {
  text-align: center;
  font-size: 0.13rem;
}

.color-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.25rem;
}

.before-box {
  background-color: #fff;
  border-radius: 0.3rem;
}

.before-box img {
  max-width: 100%;
  padding: 0.3rem;
}

.after-box {
  background-color: #fff;
  border-radius: 0.3rem;
}

.after-box img {
  max-width: 100%;
  padding: 0.3rem;
}

.change {
  display: flex;
  justify-content: space-around;
}

/* 最終成果物 */
.movie-wrapper {
  position: relative;
  padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
  height: 0;
  overflow: hidden;
  margin: 0.2rem auto;
}

.movie-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#movie p {
  margin-top: 0.5rem;
}

/* フィードバック */
.good {
  width: 80%;
  margin: 0.9rem auto 0.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.good p {
  width: 50%;
}

.more p {
  width: 50%;
}

.more {
  width: 80%;
  margin: 0.7rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* 今後の課題 */
#task {
  padding-bottom: 1.5rem;
}

@media screen and (max-width: 470px) {
  html {
    /* font-size: 3.4vw; */
    font-size: 50px;
  }

  nav {
    display: none;
  }

  .main-visual {
    background: #fff url(../images/firstview_sp.svg) 0 0 no-repeat;
    background-size: cover;
    width: 100%;
    height: 812px;
  }

  h1 {
    font-size: 0.7rem;
    line-height: 50px;
  }

  .overview {
    display: none;
  }

  .overview-sp {
    display: block;
    background: #ffe1bb;
    border-radius: 15px;
    padding: 7%;
    width: 85%;
    margin-top: 40px;
  }

  .overview-text-sp {
    color: #804036;
  }

  .contents-wrapper {
    width: 85%;
  }

  .fun-heart {
    height: 35vh;
  }

  .fun-text {
    background: url(../images/asobi_sp.svg) 22% 70% no-repeat;
  }

  /* 調査 */
  .world-map {
    flex-direction: column;
  }

  .world-map p {
    margin-top: 0.4rem;
  }

  .next {
    display: block;
    margin: 0.4rem 0;
  }

  .next .triangle {
    margin: auto;
  }

  .next p {
    text-align: center;
    margin: auto;
    margin-top: 0.2rem;
    font-weight: 500;
  }

  /* 表現方法 */
  .color {
    width: 0.4rem;
    height: 0.4rem;
  }

  .color-box {
    margin: 0 0.1rem;
  }

  .colors-box {
    width: 100%;
  }

  .change {
    display: block;
  }

  .before-box {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .before-box img {
    width: 15vw;
    height: 10vh;
  }

  .after-box {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .after-box img {
    width: 15vw;
    height: 10vh;
  }

  /* フィードバック */
  .good {
    display: block;
  }

  .good img {
    display: block;
    margin: auto;
    width: 50%;
  }

  .good p {
    width: 100%;
    margin: 0.6rem 0;
  }

  .more {
    display: block;
  }

  .more img {
    display: block;
    margin: auto;
    width: 50%;
  }

  .more p {
    width: 100%;
    margin: 0.6rem 0;
  }
}
